input:active,
input:focus,
input:hover,
input:visited,
input.active,
input.focus,
input.hover,
input.visited,
textarea:active,
textarea:focus,
textarea:hover,
textarea:visited,
textarea.active,
textarea.focus,
textarea.hover,
textarea.visited,
select:active,
select:focus,
select:hover,
select:visited,
select.active,
select.focus,
select.hover,
select.visited,
button:active,
button:focus,
button:hover,
button:visited,
button.active,
button.focus,
button.hover,
button.visited {
  box-shadow: unset !important;
  outline: 0 !important;
  outline-color: black;
}
